<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta charset="UTF-8">
    <title> Member Registration Form </title>
</head>
<body>

<h3>Member Form</h3>

<form th:action="@{/processForm}" th:object="${member}" method="POST">

    First name: <input type="text" th:field="*{firstName}" />

    <br><br>

    Last name: <input type="text" th:field="*{lastName}" />

    <br><br>

    Email: <input type="text" th:field="*{email}" />

    <br><br>

    Preferred Contact: 

    <select th:field="*{contactMethod}">

        <option th:value="Email">Email</option>
        <option th:value="Phone">Phone</option>
        <option th:value="TextMessage">TextMessage</option>

    </select>

    <br><br>

    Subscription Plan:

    <input type="radio" th:field="*{subPlan}" th:value="Basic">Basic</input>
    <input type="radio" th:field="*{subPlan}" th:value="Standard">Standard</input>
    <input type="radio" th:field="*{subPlan}" th:value="Premium">Premium</input>
    
    <br><br>

    <input type="submit" value="Submit" />

</form>


</body>
</html>